<section class="settings-section section" id="change-actions-section">

  <div class="container">

    <div *ngIf="errors" class="alert alert-danger" role="alert">
      <strong>NOT OK!</strong> {{errors}}
    </div>

    <form #f="ngForm" novalidate>

      <div class="form-group">
        <label>so you missed your PoL...</label>
        <label class="padding-left30">act after
          <input class="form-control settings-input" type="text" autofocus name="daystext" [(ngModel)]="days" [disabled]="isFree"> days
        </label>
        <mat-slider min="0" max="30" step="1" [(ngModel)]="days" name="daysslider" [disabled]="isFree"></mat-slider>
        <span id="upgrade-effect" *ngIf="subscriptionType == 0" class="WordStyle" onmouseout="HideDef();" onmouseover="ShowDef();">
          <a *ngIf="subscriptionType == 0" routerLink="/change-subscription" id="upgrade-effect">upgrade to control tolerance
          </a><i class="fa fa-question-circle-o" aria-hidden="true"></i>
        </span>
        <span id="upgrade-effect" *ngIf="subscriptionType == 0" class="WordStyle" onmouseout="HideDef();" onmouseover="ShowDef();"></span>
        <div class="form-group row">
          <div class="col-12">
                  <div class="DefStyle" id="popUpinfo">if you are reading this...<br>it's because your current subscription is limited in its features : )</div>
          </div>
      </div>
      </div>

      <div class="form-group">
        <label class="margin-top20">before action</label>
        <div class="form-group padding-left30">
          <mat-checkbox align="end" name="givecall" [disabled]="subscriptionType == 0 || subscriptionType == 1" [(ngModel)]="currentUser.GiveCall">give me a call</mat-checkbox>
          <span id="upgrade-effect" *ngIf="subscriptionType == 1" class="WordStyle" onmouseout="HideDef2();" onmouseover="ShowDef2();">
              <a *ngIf="subscriptionType == 1" routerLink="/change-subscription" id="upgrade-effect">upgrade for this service
              </a><i class="fa fa-question-circle-o" aria-hidden="true"></i>
            </span>
            <span id="upgrade-effect" *ngIf="subscriptionType == 1" class="WordStyle" onmouseout="HideDef2();" onmouseover="ShowDef2();"></span>
            <div class="form-group row">
              <div class="col-12">
                      <div class="DefStyle" id="popUpinfo2">if you are reading this...<br>it's because your current subscription is limited in its features : )</div>
              </div>
          </div>
        </div>

        <div class="form-group padding-left30">
          <mat-checkbox align="end" name="sendemailtolerance" [(ngModel)]="currentUser.SendEmailTolerance">send me an email</mat-checkbox>
        </div>
      </div>

      <div class="form-group margin-top20">
        <input (click)="updateActions()" type="submit" class="form-control settings-button text-center lower-button-with-margin"
          value="all set">
      </div>



    </form>
  </div>

</section>
