<section class="settings-section section" id="change-message-section">

    <div class="container">

        <div *ngIf="errors" class="alert alert-danger" role="alert">
            <strong>NOT OK!</strong> {{errors}}
        </div>

        <form #f="ngForm" novalidate>
            <div>
                <div class="form-group">
                    <label>send to</label>
                    <input class="form-control sendto-input" type="email" name="sendto" [(ngModel)]="message.SendTo" placeholder="e-mail address" email required>
                </div>
                <div class="form-group wrap" (mouseover)="falseUpgrade()">
                    <label>message</label>
                    <textarea class="form-control pol-message" name="message" [(ngModel)]="message.Text" required>
                    </textarea>
                    <span *ngIf="subscriptionType == 0" id="count" class="counter">{{message.Text || '' | characterCountdown}} characters remaining</span>
                </div>
                <div class="form-group">
                    <label>delay <input class="form-control settings-input" [disabled]="subscriptionType != 2" type="text" name="delay" value="0" placeholder="0" [(ngModel)]="message.Delay"> days</label>
                    <span *ngIf="subscriptionType != 2 && (subscriptionType == 0 || subscriptionType == 1)" id ="upgrade-effect" class="WordStyle" onmouseout="HideDef();" onmouseover="ShowDef();">
                        <a *ngIf="subscriptionType != 2 && (subscriptionType == 0 || subscriptionType == 1)" routerLink="/change-subscription" id="upgrade-effect">
                        <br>upgrade for separate message timing
                        </a><i class="fa fa-question-circle-o" aria-hidden="true"></i>
                    </span>
                    <span *ngIf="subscriptionType != 2 && (upgrade && subscriptionType == 0 || subscriptionType == 1)" id="upgrade-effect" class="WordStyle" onmouseout="HideDef();" onmouseover="ShowDef();"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-12">
                        <div class="DefStyle" id="popUpinfo">if you are reading this...<br>it just means your current subscription is limited in its features : )</div>
                </div>
            </div>

            <div class="form-group margin-top20">
                <input *ngIf="!f.valid" disabled type="submit" class="form-control settings-button:disabled text-center" value="all set">
                <input *ngIf="f.valid" (click)="updateMessage()" type="submit" class="form-control settings-button text-center" value="all set">
            </div>
        </form>
    </div>
</section>
