<section class="section" id="homepage-section">
    <div class="container">
        <div *ngIf="errors" class="alert alert-danger" role="alert">
            <strong>NOT OK!</strong> {{errors}}
        </div>
        <div class="pol-button-cont">
            <div (click)="checkIn()" class="pol-button" [class.button-red]="checkinTimer < 3600">
                <div *ngIf="checkinTimer > 0" class="pol-button-text">{{ checkinTimer < 3600 && checkinTimer != 0 ? (checkinTimer | secondsToTime) : polButtonText }}
                </div>
                <div *ngIf="checkinTolerance > 0 && checkinTimer < 0" class="pol-button-text">
                        {{ checkinTolerance | secondsToTime }}
                </div>
            </div>
        </div>
        <section id="checkin-section">
            <div *ngIf="checkinTimer > 0">
                <div id="checkin-timer">
                    {{ checkinTimer | secondsToTime }}
                </div>
                <h1 id="countdown-title">
                    {{ checkinTitle }}
                </h1>
            </div>
            
            <div *ngIf="checkinTimer <= 0 && checkinTolerance <= 0" class="alert alert-danger" role="alert">
                Your time is up! Please check in as soon as possible!
            </div>
            <div *ngIf="checkinTimer <= 0 && checkinTolerance > 0" class="alert alert-danger" role="alert">
                PoL already in tolerance! Please check in as soon as possible!
            </div>
        </section>
    </div>
</section>
